.header{
    color:orangered;
    text-align: center;
    margin:30px;
}
.col-md-3{
  border:2px solid;
  text-align: center;
  font-family:sans-serif;
  font-weight: bold; 
  padding:10px;
}
.field{
    margin:10px;  
    background:linear-gradient(to right,rgb(123, 123, 189) 50%,rgb(197, 29, 127));      
}
.row{
    margin:15px;
}
.btn{
    background-color:rgb(45, 196, 95);
    margin:30px auto;
    
}
.label{
    color:rgb(19, 241, 11);
    font-weight: bolder;
}
.catch{
    padding:30px;
    color:rgb(252, 249, 249);
    font-weight: bold;    
    margin:0 auto;  
}
